


    body {
      font-family: Arial, sans-serif;
      background:plum;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    .todo-container {
      background: white;
      width: 350px;
      padding: 20px;
      border-radius: 12px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }

    h2 {
      text-align: center;
      margin-bottom: 15px;
      color: #333;
    }

    .input-section {
      display: flex;
      gap: 10px;
    }

    input {
      flex: 1;
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 6px;
    }

    button {
      background: black;
      color: white;
      border: none;
      padding: 8px 12px;
      border-radius: 6px;
      cursor: pointer;
    }

    button:hover {
      background: #b13f16;
    }

    ul {
      list-style-type: none;
      padding: 0;
      margin-top: 15px;
    }

    li {
      background: #f1f1f1;
      margin-bottom: 8px;
      padding: 8px;
      border-radius: 6px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .actions button {
      margin-left: 5px;
      padding: 4px 8px;
      font-size: 12px;
    }

    .edit {
      background: #2196f3;
    }

    .delete {
      background: #f44336;
    }
